.ProductListContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;  
}

.imgProductContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 101px;
    width: 90px;
    border-radius: 8px;
    background-color: white;
    filter: drop-shadow(0px 3px 7px rgba(11, 65, 48, 0.35));
    margin-right: 2px;
    padding: 3px;
}
.imgProductContainerActive{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 101px;
    width: 90px;
    border-radius: 8px;
    background: rgba(207, 237, 122, 0.5);
    filter: drop-shadow(0px 3px 7px rgba(11, 65, 48, 0.35));
    margin-right: 2px;
    padding: 3px;
}

.imgProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 90px;
    height: 100px;
}

.infoProductContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    border-radius: 8px;
    background-color: white;
    filter: drop-shadow(0px 3px 7px rgba(11, 65, 48, 0.35));
    height: 100px;
    width: 235px;
    padding: 3px 15px;
}
.infoProductContainerActive{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    border-radius: 8px;
    background: rgba(207, 237, 122, 0.5);
    filter: drop-shadow(0px 3px 7px rgba(11, 65, 48, 0.35));
    height: 100px;
    width: 235px;
    padding: 3px 15px;
}

.infoColumn{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: -10px ;
    /* margin-top: px; */
}

.nameProduct{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.40625px;
    color: #4B513E;
    margin: 0 0 5px 0;
}
.nameBrand{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.4625px;
    color: #AAAAAA;
    margin: 0 0 5px 0;
}

.ScoresContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgNutriscore{
    width: 80px;
    background: transparent;
}

.imgNovascore{
    width: 68px;
    background: transparent;
}



.NoNutriscore{
    margin: 0 0;
}
.NoNovascore{
    margin: 0 0;
}

.ScoresContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.FavShareAddContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-top: 12px;
}

.FavShareContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.FavBtn{
    background: none;
    border: none;
    border-radius: 50px;
    outline: none;
    color: #DA3957;
}

.ShareBtn{
    background: none;
    border: none;
    border-radius: 50px;
    outline: none;
    color: #DA3957;
}

.AddToListBtnContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90px;
    margin-top: -2px;
}

.AddToListBtn{
    border-top-left-radius: 8px;
    border-top-Right-radius: 8px;
    border: 2px solid #DA3957;
    outline: none;
    background: white;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.25px;
    color: #DA3957;
    padding: 8px 3px;
}

.CounterContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 35px;
    background-color: #DA3957;
    border-bottom-left-radius: 8px;
    border-bottom-Right-radius: 8px;
    margin-top: -1px;
}

.CounterLessBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 0 0;
    border: none;
    background: white;
    outline: none;
    margin-left: 5px;
}

.numberCounter{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    color: white;
}
 
.CounterPlusBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 0 0;
    border: none;
    background: white;
    outline: none;
    margin-right: 5px;
}
