.allergensContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 70px;
    background-color: white;
    filter: drop-shadow(0px 3px 7px rgba(11, 65, 48, 0.35));
    margin: 0 10px 20px 10px;
    border-radius: 8px;
    padding: 20px 20px 20px 20px;
}

.allergensTitle{
    margin: -5px 0 5px 0;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 1px;
    color: #4B513E;
}

.allergensImgContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateX(-12px);

}

.NutritionContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    filter: drop-shadow(0px 3px 7px rgba(11, 65, 48, 0.35));
    margin: 0 10px 20px 10px;
    border-radius: 8px;
    padding: 20px 20px 0px 20px;
}

.nutritionTitle{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #444444;
    margin: 0 0;
}

.gramsTitle{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #767676;
    margin: 20px 0 10px 0;
}

.nutritionImgContainer{
    display: flex;
    margin-left: -15px;
}

.nutritionImgContainer div{
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: -20px;
}

.valueNutrition{
    position: absolute;
    top: calc(50% - 13px);
    left: 50%;
	transform: translate(-50%, -50%);

	font-family: Lato;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
}

.additivesContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    background-color: white;
    filter: drop-shadow(0px 3px 7px rgba(11, 65, 48, 0.35));
    margin: 0 10px 20px 10px;
    border-radius: 8px;
    padding: 20px 20px 0px 20px;
}

.additivesTitle{
    margin: -5px 0 5px 0;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 1px;
    color: #4B513E;
}

.additivesInfoTable{
    
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
    padding: 8px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #4B513E;
}

td{
    text-align: left;
    padding: 8px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #4B513E;
}

tr{
    border-bottom: 1px solid rgba(221, 221, 221, 0.589);
}

a{
    color: #188161;
    text-decoration:none;
    font-size: 20px;
    margin-left: 11px;
}



/* .imgNutrition{
    width: 120px;
    height: 120px;
    margin-right: -65px;
    z-index: 2;
}
*/


/*
.valueNutrition{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-right: 50px;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 4;
} */

.valueNutrition:nth-child(1){
    transform: translateX(-10px);
}

