.userContainer{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 15px 0px 0px 0px;
    z-index: 2;
}

.backBtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    background: #188161;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 11px 14px;
    color: white;
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    margin-right: 20px;
}

#iconBackBtn{
    transform: translateX(-1px);
}

.queComoTitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #FDFFFA;
    margin-left: 20px;
}

.notificationsBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background-color: #FDFFFA;
    border: none;
    outline: none;
    border-radius: 50px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    transform: translateX(0px);
}

#bellIcon{
    color: #FFB758;
    font-size: 19px;
}

.userProfileBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background: transparent;
    border: 1px solid #188161;
    border-radius: 50px;
    /* width: 38px;
    height: 38px; */
    padding: 3px 4px;
    transform: translateY(12px);
}

.userProfileSVG{
    border-radius: 50px;
}

.searchbarContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: -20px;
    margin-top: 95px;
    z-index: 2;
    
}

#searchBar{

    background: #FDFFFA;
    border-radius: 25px;
    margin-right: -35px;
    box-shadow: 0px 0px 20px 8px rgba(70, 43, 7, 0.5);
    border: none;
    outline: none;
    height: 10px;
    padding: 15px 60px 15px 15px;

}

.searchBtn{
    margin-top: 5px;
    transform: translateX(-5px);
    background: linear-gradient(316.77deg, rgba(255, 199, 39, 0.9) 13.99%, rgba(248, 126, 13, 0.9) 85.39%), radial-gradient(46.22% 46.22% at 50.27% 50.27%, #DB731E 94.27%, #C46111 100%);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    border-radius: 50px;
}

#searchIcon{
    color: #FDFFFA;
    
}

.filterBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30px;
    margin-top: 5px;
    border: none;
    outline: none;
    background: none;
    color: #FDFFFA;
    transform: translateX(20px);
}
#filterIcon{
    font-size: 24px;
    color: #FDFFFA;
}

.SMarketSection{
    display: flex;
    flex-direction: column;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 93px;
    overflow-y: scroll;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.568);
    box-shadow: 0px 15px 20px 8px rgba(255, 255, 255, 0.555);
}

.SMarketContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: -5px;
    margin-left: 35px;
    overflow-y: scroll;
   
}

.imgSMarketContainer{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 180px;
    height: 70px;
    background: #ffffff;
    /* border: 2px solid #188161; */
    border-radius: 8px;
    margin: 20px 30px 10px 46px;
    /* box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.534); */
    padding: 10px 15px;
    filter: drop-shadow(0px 3px 7px rgba(11, 65, 48, 0.35));

}

.imgSMarket{
    width: 140px;
    height: 70px;
    transform: translateX(20px);
}

/* .SMarketTitle{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    margin-top: 50px;
    color: #188161;
} */

.navSection{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(10px);
}

/* .navRectangle{
    position: fixed;
    bottom: 0;
    left: 0;
     right: 0; 
    width: 100%;
    box-shadow: 0px 0px 20px 8px rgba(70, 43, 7, 0.5);
    z-index: -2;
    transform: translateX(-13px);
} */

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 0px 20px 8px rgba(70, 43, 7, 0.5);
    z-index: 2;
    background-color: white;
    transform: translateX(-10px);
    
    
}

.navBtn{ 
    background: none;
    outline: none;
    border: none;
    color: #188161;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    /* line-height: 24px; */
    text-align: center;
    padding: 15px 22px 15px 22px;
    bottom: 0;
}
.navBtn:hover{
    border-top: 2px solid #F87E0D;
    background: rgba(254, 220, 169, 0.5);
}
.navBtn:active {
    border-top: 2px solid #F87E0D;
    background: rgba(254, 220, 169, 0.5);
}

.isActive{
    border-top: 2px solid #F87E0D;
    background: rgba(254, 220, 169, 0.5);
}

.barCodeBtn{
    background: #188161;
    outline: none;
    border: none;
    color: white;
    border-radius: 50px;
    padding: 15px;
    transform: translateY(-30px);
}
.barCodeBtn:hover{
    border: 2px solid #F87E0D;
    
}
.barCodeBtn:active {
    border: 2px solid #F87E0D;
}

#barCodeIcon{
    text-align: center;
    font-size: 45px;
}

.loadingSVGContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center; 
}
.loadingSVG{
    margin: 300px 0px 0px 0px;
    /* padding: 90px 300px 0px 300px; */
    width: 150px;
    background: transparent;
    z-index: 2;
}

.Separator{
    margin: 0px 0 0 20px;
    
}