.suppliersInfoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translateX(-2px);
    

    /* flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden; */
}

.aboutSuppliersInfoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    filter: drop-shadow(0px 3px 7px rgba(11, 65, 48, 0.35));
    border-radius: 8px;
    padding: 5px 29px;
    margin-right: 20px;
    height: 45px;
}

.aboutSuppliersTitle{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .8px;
    color: #444444;
    margin: -2px 0 0 10px;
}

/* .aboutSuppliersNoInfoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    filter: drop-shadow(0px 3px 7px rgba(11, 65, 48, 0.35));
    border-radius: 8px;
    padding: 5px 25px;
    margin-right: 20px;
    height: 45px;
} */

/* .aboutNotInfoSuppliersTitle{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .8px;
    color: #444444;
    margin: -2px 0 0 10px;
} */

.CertificatesInfoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    filter: drop-shadow(0px 3px 7px rgba(11, 65, 48, 0.35));
    border-radius: 8px;
    padding: 5px 23px;
    margin-right: 0px;
    height: 45px;
}

/* .CertificatesNoInfoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    filter: drop-shadow(0px 3px 7px rgba(11, 65, 48, 0.35));
    border-radius: 8px;
    padding: 5px 25px;
    height: 45px;
} */

.CertificatesTitle{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .8px;
    color: #444444;
    margin: 0 0 0 10px;
}

.additivesContainer{
    margin-bottom: 100px;
}