.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.BG{
    position: absolute;
    width: 100opx;
    height: 100%;
    transform: translate(0px, 240px);
    z-index: -2;
}

.gradientBG{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(179.58deg, rgba(255, 255, 255, 0) 21.14%, #FFFFFF 75.62%), linear-gradient(180deg, rgba(227, 249, 166, 0) 36.22%, #E3F9A6 66.93%);
    z-index: -1;
}

.SignUpForm{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-top: 300px;
}

.titleSignUp{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #188161;
}

label{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #188161;
    margin-bottom: 8px;
}

.labelPsw{
    margin-top: 5px;
}

input{
    background: #FDFFFA;
    border: 1px solid #188161;
    padding: 15px 15px 15px 47px;
    margin-bottom: 15px;
    border-radius: 30px;
    outline: none;
    font-size: 17px;
    

}::placeholder{
    font-size: 17px;
    transform: translateY(1px);
    letter-spacing: 1px;
    color:#f89e29;
}

.ErrorInput{
    background: #e2080844;
    border: 1px solid #8d1818;
    color: #ff0000;
    
}

.ErrorInCredentials{
    color: #ff0000;
    background: #e208082f;
    border: 1px solid #8d1818;
    box-shadow: 0px 6px 20px rgba(241, 21, 21, 0.25);
    border-radius: 8px;
    padding: 5px 20px 5px 20px;
    font-family: Lato;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    margin: 10px 5px 10px 5px;
    line-height: 18px;
    letter-spacing: 1.2px;
    text-align: center;
    
   
}

.WarningInCredentials{
    color: #188161;
    background: #f9fd052f;
    border: 1px solid #188161;
    box-shadow: 0px 6px 20px rgba(226, 241, 21, 0.25);
    border-radius: 8px;
    padding: 5px 20px 5px 20px;
    font-family: Lato;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    margin: 0px 5px 10px 5px;
    line-height: 18px;
    letter-spacing: 1.2px;
    text-align: center;
}

.ErrorInCredentialsList{
    transform: translateX(-20px);
    text-align: left;
}

#userIcon{
    position: absolute;
    margin-top: 106px;
    margin-left: 16px;
    font-size: 20px;
    color: #188161;
}
#envelope{
    position: absolute;
    margin-top: 200px;
    margin-left: 15px;
    font-size: 20px;
    color: #188161;
}
#key{
    position: absolute;
    margin-top: 298px;
    margin-left: 15px;
    font-size: 20px;
    color: #188161;
}

#eye{
    position: absolute;
    margin-top: 299px;
    margin-left: 300px;
    font-size: 20px;
    color: #188161;
}

.loginBtn{
    align-self: center;
    background: #FFB758;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    border: none;
    outline: none;
    padding: 10px 100px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #188161;
    margin: 0px 0px 10px 0px;  
}

.SignUpBtn{
    align-self: center;
    background: #FFB758;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    border: none;
    outline: none;
    padding: 10px 117px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #188161;
    margin-top: 15px;  
}

.generatePswContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.generatePswBtn{
    background: #FFB758;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    border: none;
    outline: none;
    padding: 1px 10px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 22px;
    color: #188161;
    margin: 0px 8px 10px 0px;
    
}