.searchbarContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: -20px;
    margin-top: 95px;
    z-index: 2;
    
}

#searchBar{

    background: #FDFFFA;
    border-radius: 25px;
    margin-right: -35px;
    box-shadow: 0px 0px 20px 8px rgba(70, 43, 7, 0.5);
    border: none;
    outline: none;
    height: 10px;
    padding: 15px 60px 15px 15px;
    z-index: 2;

}

.searchBtn{
    margin-top: 5px;
    transform: translateX(-5px);
    background: linear-gradient(316.77deg, rgba(255, 199, 39, 0.9) 13.99%, rgba(248, 126, 13, 0.9) 85.39%), radial-gradient(46.22% 46.22% at 50.27% 50.27%, #DB731E 94.27%, #C46111 100%);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    border-radius: 50px;
    z-index: 2;
}

#searchIcon{
    color: #FDFFFA;
    
}

.filterBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30px;
    margin-top: 5px;
    border: none;
    outline: none;
    background: none;
    color: #FDFFFA;
    transform: translateX(20px);
    z-index: 2;
}
#filterIcon{
    font-size: 24px;
    color: #FDFFFA;
}

.optionsBtnSection{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 190px;
    z-index: 2;
    background-color: white;
    box-shadow: 0px 20px 20px 8px rgba(255, 255, 255, 0.5);
}

.optionsBtnContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 30px; */
    overflow-y: scroll;
    margin-top: -10px;
    
    z-index: 2;
}

.OptionsSection{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 0px;
    overflow-y: scroll;
}



.brandsBtn{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #C0C0C0;
    border: none;
    border-bottom: 1px solid #C0C0C0;
    background: none;
    outline: none;
    padding: 10px 50px 2px 50px;
    width: 50%;
    z-index: 2;
}
.brandsBtn:hover{
    color: #188161;
    border-bottom: 2px solid #E5293E;
    z-index: 2;
     
}
.brandsBtn:active{
    color: #188161;
    border-bottom: 2px solid #E5293E;
    z-index: 2;
     
}
.brandsBtnActive{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    border: none;
    background: none;
    outline: none;
    padding: 10px 50px 2px 50px;
    width: 50%;
    color: #188161;
    border-bottom: 2px solid #E5293E;
    z-index: 2;
     
}

.productsBtn{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #C0C0C0;
    border: none;
    border-bottom: 1px solid #C0C0C0;
    background: none;
    outline: none;
    padding: 10px 50px 2px 50px;
    width: 50%;
    z-index: 2;
}
.productsBtn:hover{
    color: #188161;
    border-bottom: 2px solid #E5293E;
    z-index: 2;
     
}
.productsBtn:active{
    color: #188161;
    border-bottom: 2px solid #E5293E;
    z-index: 2;
     
}
.productsBtnActive{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    border: none;
    background: none;
    outline: none;
    padding: 10px 50px 2px 50px;
    width: 50%;
    color: #188161;
    border-bottom: 2px solid #E5293E;
    z-index: 2;
     
}


